<section class="max-w-7xl mx-auto w-full grid grid-cols-1 md:grid-cols-2 items-start gap-6 px-5 md:px-10 lg:px-18 py-12 md:py-20 lg:py-30">
  <div class="mb-16 xl:mb-30">
    <h2 class="text-white text-5xl max-w-[588px] font-bold mb-6 leading-[1.2]">This is what people say about me</h2>
    <p class="text-lg text-gray-600 font-normal max-w-[588px] leading-[1.5] mb-10">Here are a few lines from people
      who I have worked with over the past 8+ years in my design career.</p>
    <a href="#" class="text-white mt-auto font-normal leading-[1.5] border-b pb-1 border-gray-500">See all
      testimonials</a>
  </div>
  <div class="grid grid-cols-1 gap-y-12 md:gap-y-30">
    <a href="#" class="block group">
      <div class="overflow-hidden">
        <picture>
          <source media="(min-width: 1025px)" srcset="assets/img/blog-1-lg.webp">
          <img src="assets/img/blog-1-md.webp" alt="blog-1" loading="lazy" class="w-full h-auto object-cover transform duration-1000 ease-in-out group-hover:scale-125">
        </picture>
      </div>
      <span class="block border border-gray-500 p-8 lg:p-16">
        <span class="block text-white text-2xl mb-16 font-bold leading-[1.5]">‘’Robin is one of the best designers I
          have worked with in my entire life. He is a designer who is very capable of taking up complex projects and
          delivers impeccable design.’’</span>
        <span class="block text-lg text-gray-600 font-bold mb-1">Richard Owens</span>
        <span class="block text-1g text-gray-600 font-normal">CEO, Company 1</span>
      </span>
    </a>
    <a href="#" class="block group">
      <div class="overflow-hidden">
        <picture>
          <source media="(min-width: 1025px)" srcset="assets/img/blog-2-lg.webp">
          <img src="assets/img/blog-2-md.webp" alt="blog-2" loading="lazy" class="w-full h-auto object-cover transform duration-1000 ease-in-out group-hover:scale-125">
        </picture>
      </div>
      <span class="block border border-gray-500 p-8 lg:p-16">
        <span class="block text-white text-2xl mb-16 font-bold leading-[1.5]">‘’I think Robin has an incredible gift.
          It has been an absolute pleasure to work with a designer of this caliber.’’</span>
        <span class="block text-lg text-gray-600 font-bold mb-1">Emily Parker</span>
        <span class="block text-1g text-gray-600 font-normal">CEO, Company 2</span>
      </span>
    </a>
    <a href="#" class="block group">
      <div class="overflow-hidden">
        <picture>
          <source media="(min-width: 1025px)" srcset="assets/img/blog-3-lg.webp">
          <img src="assets/img/blog-3-md.webp" alt="blog-3" loading="lazy" class="w-full h-auto object-cover transform duration-1000 ease-in-out group-hover:scale-125">
        </picture>
      </div>
      <span class="block border border-gray-500 p-8 lg:p-16">
        <span class="block text-white text-2xl mb-16 font-bold leading-[1.5]">‘’All I can say that, Robin is a
          phenomenal designer. The wavelength at which he thinks is astoundaing. I love the focus, passion and
          attention to detial in the design.’’</span>
        <span class="block text-lg text-gray-600 font-bold mb-1">Vincent Rudd</span>
        <span class="block text-1g text-gray-600">CEO, Company 1</span>
      </span>
    </a>
  </div>
</section>