<section class="py-16 md:py-20 lg:py-30">
  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 items-start gap-x-6 max-w-5xl mx-auto">
    <div class="mb-16 xl:mb-30">
      <h2 class="text-white text-5xl max-w-[588px] font-bold mb-6 leading-[1.2]">This is what people say about me</h2>
      <p class="text-lg text-gray-600 font-normal max-w-[588px] leading-[1.5] mb-10">Here are a few lines from people who I have worked with over the past 8+ years in my design career.</p>
      <a href="#" class="text-white mt-auto font-normal leading-[1.5] border-b pb-1 border-gray-500">See all testimonials</a>
    </div>
    <div class="grid grid-cols-1 gap-y-[120px]">
      <div class="bg-black">
        <img src="blog-1-lg.webp" class="w-full" alt="Testimonial from Richard Owens" />
        <div class="border border-gray-500">
          <blockquote class="text-white text-h5 pb-16 pt-16 mx-auto font-bold max-w-[508px] leading-[1.5]">‘’Robin is one of the best designers I have worked with in my entire life. He is a designer who is very capable of taking up complex projects and delivers impeccable design.’’</blockquote>
          <h6 class="text-gray-600 mb-16 mx-auto font-bold max-w-[508px] leading-[1.5]">
            <span class="block">Richard Owens</span>
            <span class="block mt-[4px]">CEO, Company 1</span>
          </h6>
        </div>
      </div>
      <div class="bg-black">
        <img src="blog-2-lg.webp" class="w-full" alt="Testimonial from Jane Doe" />
        <div class="border border-gray-500">
          <blockquote class="text-white text-h5 pb-16 pt-16 mx-auto font-bold max-w-[508px] leading-[1.5]">‘’I think Robin has an incredible gift. It has been an absolute pleasure to work with a designer of this caliber.’’</blockquote>
          <h6 class="text-gray-600 mb-16 mx-auto font-bold max-w-[508px] leading-[1.5]">
            <span class="block">Emily Parker</span>
            <span class="block mt-[4px]">CEO, Company 2</span>
          </h6>
        </div>
      </div>
      <div class="bg-black">
        <img src="blog-3-lg.webp" class="w-full" alt="Testimonial from Jane Doe" />
        <div class="border border-gray-500">
          <blockquote class="text-white text-h5 pb-16 pt-16 mx-auto font-bold max-w-[508px] leading-[1.5]">‘’All I can say that, Robin is a phenomenal designer. The wavelength at which he thinks is astoundaing. I love the focus, passion and attention to detial in the design.’’</blockquote>
          <h6 class="text-gray-600 mb-16 mx-auto font-bold max-w-[508px] leading-[1.5]">
            <span class="block">Vincent Rudd</span>
            <span class="block mt-[4px]">CEO, Company 1</span>
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>
