<section class="py-16 md:py-20 lg:py-30 max-w-3xl mx-auto px-5 md:px-10 xl:px-0">
  <div class="mb-16 xl:mb-30">
    <h2 class="text-white text-5xl font-bold mb-6 leading-[1.2]">Dribbble</h2>
    <p class="text-lg text-gray-600 max-w-159 leading-[1.5] mb-10">Each dribbble shot is made with love and care. Do
      check out my work on Dribbble. Likes and comments are appreciated.</p>
    <a href="#" class="text-white mt-auto font-normal leading-[1.5] border-b pb-1 border-gray-500 md: lg:text-shadow-lg/20">Follow
      me on Dribbble</a>
  </div>
  <div class="img-dribble">
    <picture>
      <source media="(min-width: 768px)" srcset="dribble.png">
      <img src="dribble-xs.png" alt="Preview" loading="lazy" class="w-full h-auto object-cover">
    </picture>
  </div>

</section>