<header class="flex max-w-7xl mx-auto w-full px-5 md:px-10 lg:px-18 items-center relative py-6 md:py-0.25 md:-mb-22 z-20">
  <div class="w-19.5 h-6">
    <img src="assets/img/logo-Robin.svg" alt="logo-Robin">
  </div>
  <div id="mobile-container" class="md:ml-auto hidden md:block absolute md:static bg-indigo-950 md:bg-transparent top-18 -left-3 w-[calc(100%+24px)] md:w-auto">
    <nav class="flex flex-col md:flex-row">
      <a href="#" class="py-7.75 px-6 flex font-bold leading-[1.5] hover:bg-purple text-white transition duration-300">Experience</a>
      <a href="#" class="py-7.75 px-6 flex font-bold leading-[1.5] hover:bg-purple text-white transition duration-300">Work</a>
      <a href="#" class="py-7.75 px-6 flex font-bold leading-[1.5] hover:bg-purple text-white transition duration-300">Photography</a>
      <a href="#" class="py-7.75 px-6 flex font-bold leading-[1.5] hover:bg-purple text-white transition duration-300">Contact</a>
    </nav>
  </div>
  <button type="button" id="burger"
    class="relative w-6 h-6 cursor-pointer ml-auto before:absolute before:w-4.5 before:bg-nautral-300 before:h-0.75 before:top-1.5 before:left-1 after:absolute after:w-3 after:bg-nautral-300 after:h-0.75 after:top-4.5 after:right-0.5 hover:after:bg-purple hover:before:bg-purple md:hidden"></button>
</header>