<div class="modal">
  <div class="modal-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio commodi doloribus quasi exercitationem unde ab, magnam iste animi dicta enim omnis quis consequatur porro ipsum veritatis molestias fugiat maiores itaque earum deleniti iure ipsam similique dignissimos? Consequuntur delectus voluptate, laudantium quis
    odio quibusdam temporibus qui eveniet, laboriosam accusantium, modi natus. Dignissimos fuga placeat nisi esse dolor dolorem incidunt accusantium fugit, tenetur adipisci, expedita amet voluptatibus animi. Assumenda possimus officiis sit pariatur quasi vel dolore minima eveniet nihil quia quas laborum aut vero
    explicabo, quisquam quae odio magnam natus officia commodi quaerat aspernatur eum maiores. Soluta non voluptates corporis necessitatibus molestiae, illo quis tenetur, iure, asperiores excepturi fugiat consequuntur eaque veniam ab optio aspernatur quasi ipsa nostrum amet. Porro blanditiis cum neque ipsam ad minus
    delectus, beatae quaerat iusto vel dolores aperiam rem adipisci dicta cumque voluptatum eos consectetur numquam. Culpa voluptatem quidem natus, voluptatum distinctio suscipit rerum qui accusantium, nam doloremque dolor beatae. Obcaecati, officiis deserunt libero pariatur, nisi consequuntur ipsam quod aliquam itaque
    voluptatibus voluptate, ad quasi rem culpa voluptatum veniam vero! Odit incidunt fugit facere minima asperiores commodi amet aut porro nesciunt. Quos fugiat molestias molestiae optio quibusdam, minima doloremque in earum sed suscipit labore deleniti voluptates quod.
    <button type="button" id="close-window" class="px-8 py-3 ml-2 mb-1 max-w-30 h-10 bg-pink-400 hover:bg-pink-600 cursor-pointer">close window</button>
  </div>
</div>
<style>
  .modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    backdrop-filter: blur(10px);
    z-index: 20;
    display: none;
    align-items: center;
    justify-content: center;

    &.show {
      display: grid;
    }
  }
</style>
