<section class="flex max-w-7xl mx-auto w-full px-5 md:px-10 lg:px-18 py-17.5 md:py-20 lg:py-30">
	<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 items-start gap-12 lg:gap-6 max-w-5xl mx-auto ">
		<div class="grid gap-12 lg:gap-6">
			<div class=" mb-8 lg:mb-14">
				<h6 class=" text-gray-500 mb-2 uppercase">MY PROJECTS</h6>
				<h2 class="text-white text-3xl md:text-5xl font-bold max-w-172.25">Work that I’ve done for the past 8 years</h2>
			</div>
			<div class="bg-indigo-950 pb-10">
				<img src="assets/img/project-1.webp" loading="lazy" class="mb-10 w-full" alt="project">
				<h3 class="mb-3.25 px-8 text-2xl font-bold">Restaurant Website Design</h3>
				<h6 class="px-8 text-lg text-gray-500 leading-[1.5]">I worked with the guys at CBRE to redesign their
					entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a
					very challenging one.</h6>
			</div>
			<div class="bg-indigo-950 pb-10">
				<img src="assets/img/project-2.webp" loading="lazy" class="mb-10 w-full" alt="project">
				<h3 class="mb-3 px-8 text-2xl font-bold">Restaurant Website Design</h3>
				<h6 class="px-8 text-lg text-gray-500 leading-[1.5]">I worked with the guys at CBRE to redesign their
					entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a
					very challenging one.</h6>
			</div>
		</div>
		<div class="grid gap-12 lg:gap-6">
			<div class="bg-indigo-950 pb-10">
				<img src="assets/img/project-3.webp" loading="lazy" class="mb-10 w-full" alt="project">
				<h3 class="mb-3 px-8 text-2xl font-bold">Restaurant Website Design</h3>
				<h6 class="px-8 text-lg text-gray-500 leading-[1.5]">I worked with the guys at CBRE to redesign their
					entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a
					very challenging one.</h6>
			</div>
			<div class="bg-indigo-950 pb-10">
				<img src="assets/img/project-4.webp" loading="lazy" class="mb-10 w-full" alt="project">
				<h3 class="mb-3 px-8 text-2xl font-bold">Restaurant Website Design</h3>
				<h6 class="px-8 text-lg text-gray-500 leading-[1.5]">I worked with the guys at CBRE to redesign their
					entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a
					very challenging one.</h6>
			</div>
			<button type="button" class="border-1 border-purple text-lg hidden lg:block flex mx-auto py-6 px-8 uppercase font-bold mt-16.75 hover:bg-purple cursor-pointer">VIeW ALL PROJECTS</button>
		</div>
	</div>
</section>