<section class="max-w-7xl w-full mx-auto px-5 md:px-10 lg:px-18 py-12 md:py-20 lg:py-30">
  <h2 class="text-3xl sm:text-5xl font-bold mb-6 leading-[1.2]">Photography</h2>
  <p class="max-w-172.5 lg:max-w-147 max-w- lg:max-h-13.5 text-lg font-normal text-gray-500 leading-[1.5] mb-10 md:mb-16">Here
    is a collection of my best travel pictures that I took while travelling places all around the world.</p>
  <div id="tabs" class="tabs">
    <nav id="tabs-nav" class="grid grid-cols-2 md:flex gap-6 mb-12">
      <button type="button" data-tab-content="content-1" class=" px-4 py-2 font-bold border border-purple cursor-pointer hover:bg-purple">ITALY</button>
      <button type="button" data-tab-content="content-2" class=" px-4 py-2 font-bold border border-purple cursor-pointer hover:bg-purple">AUSTRALIA</button>
      <button type="button" data-tab-content="content-3" class=" px-4 py-2 font-bold border border-purple cursor-pointer hover:bg-purple">INDIA</button>
      <button type="button" data-tab-content="content-4" class=" px-4 py-2 font-bold border border-purple cursor-pointer hover:bg-purple">BRAZIL</button>
    </nav>
    <div class="gallery ">
      <div id="content-1" class="tab-content grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 hidden">
        <img src="assets/img/italia-1.webp" alt="ITALY" class="w-full h-105 object-cover">
        <img src="assets/img/italia-2.webp" alt="ITALY" class="w-full h-105 object-cover">
        <img src="assets/img/italia-3.webp" alt="ITALY" class="w-full h-105 object-cover">
        <img src="assets/img/italia-4.webp" alt="ITALY" class="w-full h-105 object-cover">
      </div>
      <div id="content-2" class="tab-content grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 hidden">
        <img src="assets/img/australia-1.webp" alt="AUSTRALIA" class="w-full h-105 object-cover">
        <img src="assets/img/australia-2.webp" alt="AUSTRALIA" class="w-full h-105 object-cover">
        <img src="assets/img/australia-3.webp" alt="AUSTRALIA" class="w-full h-105 object-cover">
        <img src="assets/img/australia-4.webp" alt="AUSTRALIA" class="w-full h-105 object-cover">
      </div>
      <div id="content-3" class="tab-content grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 hidden">
        <img src="assets/img/india-1.webp" alt="INDIA" class="w-full h-105 object-cover">
        <img src="assets/img/india-2.webp" alt="INDIA" class="w-full h-105 object-cover">
        <img src="assets/img/india-3.webp" alt="INDIA" class="w-full h-105 object-cover">
        <img src="assets/img/india-4.webp" alt="INDIA" class="w-full h-105 object-cover">
      </div>
      <div id="content-4" class="tab-content grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 hidden">
        <img src="assets/img/brazil-1.webp" alt="BRAZIL" class="w-full h-105 object-cover">
        <img src="assets/img/brazil-2.webp" alt="BRAZIL" class="w-full h-105 object-cover">
        <img src="assets/img/brazil-3.webp" alt="BRAZIL" class="w-full h-105 object-cover">
        <img src="assets/img/brazil-4.webp" alt="BRAZIL" class="w-full h-105 object-cover">
      </div>
    </div>
  </div>
</section>