@import 'tailwindcss';

@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/Sen-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/Sen-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/assets/fonts/Sen-SemiBold) format('truetype');
}

@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/Sen-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Sen';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/assets/fonts/Sen-ExtraBold.ttf) format('truetype');
}

@theme {
  /* home page-colors */
  --color-purple: #5221e6;
  --color-indigo-950: #181823;
  --color-nautral-300: #c4c4c4;
  --color-gray-400: #808080;
  --color-gray-500: #8491a0;
  --color-gray-600: #5b6876;
  --color-green-400: #3cc74e;
  --color-blue-400: #609bff;
  --color-pink-400: #e95d90;
  --color-pink-100: #fbe4ff;
  --color-amber-100: #fff3e4;

  --color-twitter: #26a7de;
  --color-dribble: #e94b88;
  --color-linkedin: #0077b5;

  --text-3xl: 32px;
  --text-5xl: 55px;
  --text-9xl: 117px;

  --font-sen: 'Sen', sans-serif;

  --container-2xl: 738px;
  --container-3xl: 1220px;
  --container-4xl: 1136px;
  --container-5xl: 1320px;
  --container-7xl: 1440px;
}

@layer components {
  .banner-title {
    font-size: 32px;

    @media (min-width: 768px) {
      font-size: 56px;
    }

    @media (min-width: 1025px) {
      font-size: 78px;
    }
  }

  .swiper-wrapper {
    --swiper-wrapper-transition-timing-function: linear;
  }
}

@media (max-width: 991px) {
  .swiper .swiper-wrapper {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
}

[alt=''] {
  filter: blur(10px);
  opacity: 0.6;
}
