@import 'tailwindcss';

/* .page-title {
  font-size: 72px;
  margin-bottom: 108px;
  margin-top: 60px;
} */

/* .example {
  background-color: var(--axample-bg-color);
  padding: var(--example-gap) 0;
  margin-bottom: var(--example-gap);
} */

/* .container,
.page-title {
  width: 100%;
  min-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
} */

/* .example-title {
  font-size: 48px;
  margin-bottom: 0.7em;
  text-align: left;
} */

.navigation-link {
  position: fixed;
  left: 25px;
  bottom: 25px;
  background: #ef5777;
  padding: 9px 24px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
}
