@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');
@import 'tailwindcss';

@theme {
  --color-sky: #00a6f4;
  --color-yellow: #fef0ce;
  --color-amber: #ebcb8f;
  --color-indigo: #7c86ff;
  --color-brand: #35540e;
  --color-red: #ebd6fb;
  --color-white: #eeeeee;
  /* gome page-colors */
  --color-purple: #5221e6;
  --color-indigo-950: #181823;
  --color-nautral-300: #c4c4c4;

  --text-h1: 48px;
  --text-h2: 42px;
  --text-h3: 36px;
  --text-h4: 28px;
  --text-h5: 24px;
  --text-h6: 20px;
  --text-banner-title: 78px;

  --margin-template: 100px;
  --padding-template: 100px;

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --font-sen: 'Sen', sans-serif;

  --container-5xl: 1464px;
}

@layer components {
  body {
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  h1 {
    font-size: var(--text-h1);
    color: var(--color-yellow);
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--color-brand);
  }
}

[alt=''] {
  filter: blur(10px);
  opacity: 0.6;
}
