@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import 'tailwindcss';

@theme {
  /* home page-colors */
  --color-purple: #5221e6;
  --color-indigo-950: #181823;
  --color-nautral-300: #c4c4c4;
  --color-gray-400: #808080;
  --color-gray-500: #8491a0;
  --color-gray-600: #5b6876;
  --color-green-400: #3cc74e;
  --color-blue-400: #609bff;
  --color-pink-400: #e95d90;
  --color-pink-100: #fbe4ff;
  --color-amber-100: #fff3e4;

  --text-3xl: 32px;
  --text-5xl: 55px;
  --text-9xl: 117px;

  --font-sen: 'Sen', sans-serif;

  --container-2xl: 738px; 
  --container-3xl: 1076px;
  --—Åontainer-4xl: 1116px;
  --container-5xl: 1320px;
  --container-7xl: 1464px;
}

@layer components {
  .banner-title {
    font-size: 32px;

    @media (min-width: 768px) {
      font-size: 56px;
    }

    @media (min-width: 1024px) {
      font-size: 78px;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--cilor-white);
  }
}

[alt=''] {
  filter: blur(10px);
  opacity: 0.6;
}

.swiper {
  width: 100%;
  height: auto;
}
